@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

header{
  /* display: flex; */
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url(cnj-logo.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    border-bottom: 1px solid #fff;
    /* margin-bottom: 10vh; */
}

.search-box{
  margin: 10% auto;
  width: 65%;
  height: 8%;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  transform: translateY(-50%);
  text-align: center;
  padding: 10px;

}

.search-bar{
  float: left;
  padding: 15px;
}

.search-bar-box{
  margin: auto auto;
  padding: 4px;
  font-size: 2em;
}

.search-box button{
  float: right;
  padding: 20px 10px;
  margin-top: 2px;
  margin-right: 10px;
  background: #ddd;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.car-make{
  vertical-align:top;
  /* display:inline-block;  */
  padding: 15px 10px;
  font-size: 1.5em;
  float: left;
}

#cars{
  font-size: 1em;
  padding: 10px;
}

/* need to sort options in ascending alphabetical order */
option{
  font-size: 1em;
}

.car-model{
  vertical-align:top;
    display:inline-block; 
    padding: 10px;
}

.min{
  vertical-align:top;
    display:inline-block; 
    padding: 10px;
}

.max{
  vertical-align:top;
    display:inline-block; 
    padding: 10px;
}




/* .main-nav{
    text-align:right;
    list-style: none; */
    
    /*margin-top: 10px;*/
/* } */




.main-nav li{

    
    /*text-align: center;*/
    display: inline-block;
    /*text-decoration: none;*/
    padding: 5px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*overflow: hidden; */
    position: sticky;
    margin-left: 10px;
    /*background-color:tan;*/
    
}

.main-nav li a{
    color:black;
    text-decoration: none;
    padding: 5px 180px;
    font-size: 3em;
    font-weight: bolder;
    
}

.main-nav li a:hover{
    /*border: 1px solid white;*/
    opacity: 0.3;
}

#row {
    max-width: 100%;
    margin: auto;
}

/*h1 is global*/

.first h1{
    margin-top:25%;
    color: white;
    font-size: 4em;
    justify-content: center;
    text-align: center;
    /* left: 3%; */
    /* margin: 0; */
    position: relative; 
    /* top: 50%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


        

#services{
    background-image: url(road1.jpg);
    background-position: center;
    background-image: fixed;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    /* justify-content: space-between; */
}




/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed 
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */

#p1{
    display: flex;
    color: rgb(24, 42, 59);
    font-size: 3em;
    font-weight: 900;
    /* justify-content: center; */
    text-align: center;
    border-right: 1px solid rgb(24, 42, 59);
    width: 33%;
    height: 90vh;
    float: left;
    padding: 2em;
    /*height: 10vw;*/
}

#p2{
    display: flex;
    color: rgb(24, 42, 59);
    font-size: 3em;
    font-weight: 900;
    /* justify-content: space-evenly; */
    text-align: center;
    width:33%;
    height: 90vh;
    float: left;
    padding: 2em;
    border-right: 1px solid rgb(24, 42, 59);
}

#p3{
    display: flex;
    /* justify-content: center; */
    color: rgb(24, 42, 59);
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    width: 33%;
    height: 90vh;
    float:left;
    padding: 2em;
}

#info{
    background: black;
    padding: 40px;
    border: 1px solid black;
    color: white;
    
}

.banner{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

#car-lot{
    /*background: url('roadlines.jpg') no-repeat; 
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url(roadlines.jpg);*/
      background-color: white;
}

.slideshow {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }

  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    
  }

  #footer {
    background-color: black;
    height: 25vh;
    color: white;
    top: 10px;
    
    
}


.flip-box {
    background-color: transparent;
    width: 100%;
    height: 5em;
    perspective: 1000px;
    padding: 10px;
  }
  
  .flip-box-inner {
    
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
    
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-box-front {
    background-color: black;
    color: white;
    font-size: 30px;
  }
  
  .flip-box-back {
    background-color: black;
    color: #fff;
    font-size: 30px;
    transform: rotateX(180deg);
  }

  .flip-box{
    cursor: pointer;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    height: 80vh;
  }

  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 20px;
    margin-bottom: 15px;
    
    /* will need to change this back to  */
  }

  .column img {
    margin-top: 50px;
    
    vertical-align: middle;
    width: 90%;
    height: 90%;
    border-radius: 15px;

    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 1) inset;
  }

  .fab.fa-facebook-f{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* padding: 20px 0; */
    /* margin-top: 10px; */
    padding: 0 10px;
    /* margin: 0; */
    position: absolute;
  }

  #footer{
    /* top: 150px; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    position: relative;
  }

  

  
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media screen and (max-width: 800px){
    /* header {
      
      background-image: url(cnj-logo.jpg);
    } */
    #p1,#p2,#p3{
      /* flex: 50%; */
      /* max-width: 100%; */
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    

    #row{
      flex: 100%;
      max-width: 100%;
    }

  }

  

