@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* main page  */

header {
  /* display: flex; */
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/cnj-logo.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  border-bottom: 1px solid #fff;
  /* margin-bottom: 10vh; */
}

.form-box-container{
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 5% auto;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 4px;
  opacity: 0.75;
}

.form-box{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-box label{
  font-size: 25px;
}

.form-box input{
  width: 100%;
  border: 1.5px solid black;
  padding: 10px;
  font-size: 25px;
  margin-top: 3px;
  border-radius: 4px;
}

.form-box select{
  width: 100%;
  border: 1.5px solid black;
  padding: 10px;
  font-size: 20px;
  margin-top: 3px;
  border-radius: 4px;
}

.form-box option{
  width: 100%;
}

button.submit-again{
  float: right;
  margin-top: 12px;
  padding: 10px 30px;
  /* border:none;  */
  outline:none; 
  background-color: rgb(223, 19, 19);
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
}

button.submit-again:hover{
  background-color: rgb(184, 14, 14);
}

.first h1 {
  margin-top: 10%;
  color: white;
  font-size: 4em;
  justify-content: center;
  text-align: center;
  /* left: 3%; */
  /* margin: 0; */
  position: relative;
  /* top: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.first span {
  color: rgb(223, 19, 19);
}


.main-nav li {
  /*text-align: center;*/
  display: inline-block;
  /*text-decoration: none;*/
  padding: 5px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*overflow: hidden; */
  position: sticky;
  margin-left: 10px;
  /*background-color:tan;*/
}

.main-nav li a {
  color: black;
  text-decoration: none;
  padding: 5px 5em;
  font-size: 2.8em;
  font-weight: bolder;
}

.main-nav li a:hover {
  opacity: 0.3;
}

.nav-space{
  height: 4vh;
  background-color: rgb(223, 19, 19);
}

.clicked{
  opacity: 0.2;
}

#row {
  max-width: 100%;
  margin: auto;
}

/* description card in car section */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  height: 40vh;
}


.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 20px;
  margin-bottom: 15px;
}

.column-text-container {
  float: right;
  margin-top: 50px;
  padding: 50px;
  vertical-align: middle;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.4);
}

.column img {
  margin-top: 50px;
  vertical-align: middle;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 1) inset;
}

#details {
  font-size: 3em;
}

#details-more {
  font-size: 2em;
}

#status {
  font-size: 2em;
  margin-top: 3%;
}

#price {
  margin-top: 30%;
  margin-bottom: 5%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 4em;
}

#description {
  font-size: 1.3em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 1000vw;
  /* height: 60vh; */
  position: relative;
  margin: auto;
}

.slideshow-container img{
  height: 750px;
}
/* 
.slideshow-container2 {
  max-width: 1000vw;
  /* max-height: 50vh; 
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

.mySlides, .mySlides2, .mySlides3, .mySlides4, .mySlides5
.mySlides6, .mySlides7, .mySlides8, .mySlides9, .mySlides10,
.mySlides11, .mySlides12 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2, .next2{
  cursor: pointer;
  /* position: absolute; */
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(161, 85, 85);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover,
 .prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding: 0 5px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.under-row-section{
  margin-top: 20%;
  background-color: darkgrey;
  height: 20vh;
}





/* services page/section  */


#services {
  background-image: url(images/road1.jpg);
  background-position: center;
  background-image: fixed;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  /* justify-content: space-between; */
}


#p1 {
  display: flex;
  /* color: rgb(24, 42, 59); */
  font-size: 2em;
  font-weight:500;
  justify-content: center;
  text-align: center;
  /* border-right: 1px solid rgb(24, 42, 59); */
  /* width: 33%; */
  height: 60vh;
  /* float: left; */
  padding: 20px;
  color: white;
  margin-bottom: 1%;
  /*height: 10vh;*/
}

.facebook-container{
  display: flex;
  /* margin-left: 30%; */
  justify-content: center;
  align-items: center;
}

.facebook-container iframe{
  margin-top: 2%;
  margin-bottom: 2%;
  /* margin-left: 40%; */
  
}


.fb-page, .fb-page iframe[style], .fb-page span {
  width: 50% !important;
}


/* 
#p2 {
  display: flex;
  color: rgb(24, 42, 59);
  font-size: 3em;
  font-weight: 900;
  /* justify-content: space-evenly; 
  text-align: center;
  width: 33%;
  height: 90vh;
  float: left;
  padding: 2em;
  border-right: 1px solid rgb(24, 42, 59);
}

#p3 {
  display: flex;
  /* justify-content: center; 
  color: rgb(24, 42, 59);
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  width: 33%;
  height: 90vh;
  float: left;
  padding: 2em;
} */

/* flip info design  */

#info {
  background: black;
  padding: 40px;
  border: 1px solid black;
  color: white;
}





/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



.flip-box {
  background-color: transparent;
  width: 100%;
  height: 5em;
  perspective: 1000px;
  padding: 10px;
}

.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s ease-in-out;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: black;
  color: white;
  font-size: 30px;
}

.flip-box-front span{
  color: rgb(223, 19, 19);
}

.flip-box-back {
  background-color: black;
  color: #fff;
  font-size: 30px;
  transform: rotateX(180deg);
}

.flip-box {
  cursor: pointer;
}





/* car page  */




.grid-container-cars{
  /* margin: 0 auto; */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    grid-gap: 100px;
    width: 100%;
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 25em;
    width: 25em;
  border-radius: 15px;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.4);
} */

.grid-item2{
  /* margin: auto; */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /* height: 35em; */
  /* height: auto; */
  width: 25em;
  border-radius: 15px;
  border-top-left-radius: 50px; 
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.4);
}

.grid-item2 img{
  cursor: zoom-in;
  height: 380px;
}



.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* .modal-container.show-modal {
  display: block;
  z-index: 5;
} */




.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 60px; 
  top: 50%;
  left: 50%;
  height: 60%;
  max-width: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
  overflow: auto; /* Enable scroll if needed */
  animation-name: modalopen; 
  animation-duration: var(--modal-duration);
  background-color: rgb(243, 231, 231); /* Fallback color */
  background-color: rgba(247, 231, 231, 0.9); /* Black w/ opacity */
  border-radius: 10px;
  
}

.modal img{
  width: 900px;
  /* padding: 50px; */
  height:650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  border-radius: 10px;
  
}


/* 
.modal{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 900px;
  /* z-index: 50; */
  /* animation-name: modalopen; */
  /* animation-duration: var(--modal-duration); */
/* } */



:root {
  --modal-duration: 1.1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.zoom-left:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05) translate(5%); 
  /* margin-left: 150px; */
  z-index: 0;
  
}

.zoom-middle:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05); 
  /* margin: 200px; */
  z-index: 0;
  /* cursor: zoom-in; */
}

.zoom-right:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05) translate(-5%); 
  /* margin-right: 200px; */
  z-index: 0;
  /* cursor: zoom-in; */
}

.grid-details-container{
  max-height: 50%;
}

#grid-details{
  font-size: 1em;
}

#grid-details-more{
  font-size: 0.7em;
}

#grid-status{
font-size: 0.8em;
}

#grid-description{
  font-size: 0.5em;
}

#grid-price{
  margin-top: 8%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 0.9em;
}




/* contact page  */


#map-section{
  margin-bottom: 5%;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}


.final-info{
  margin-top: 3%;
  font-size: 2.5em;
  text-align: center;
  padding: 50px;
}







/* footer section */



#footer {
  border-top: 2px solid white;
  height: 30vh;
  font-size: 1.2em;
  background-color: black;
  position: relative;
  z-index: 0;
}

.address h3{
  left: 5%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 9em;
}

.address{
  left: 25%;
  display: flex;
  top: 20px;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 20px 30px;
  /* height: 25vh; */
  color: white;
}

.opening-hours{
  word-spacing: 15px;
  display: flex;
  top: 20px;
  justify-content: center;
  text-align: left;
  left: 5%;
  position: absolute;
  padding: 20px 30px;
  color: white;
  
}

.opening-hours h3{
  word-spacing: 0;
  left: 7%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 9em;
}

.footer-menu{
  width: 200px;
  /* display: flex; */
  top: 20px;
  display: block;
  justify-content: center;
  text-align: left;
  left: 50%;
  position: absolute;
  padding: 20px 30px;
  color: white;
}

.footer-menu h3{
  left: 15%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 9em;
}

.footer-menu a{
  font-size: 1.2em;
  cursor: pointer;
  display: block; /* Make the links appear below each other */
  padding: 10px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 20px;
  justify-content: center;
  text-align: left;
  left: 75%;
  position: absolute;
  padding: 20px 30px;
  color: white;
}

.footer-contact h3{
  left: 5%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 9em;
}

.footer-contact a{
  left: 5%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 10px;
  bottom: 7em;
  color: rgb(38, 62, 197);
  cursor: pointer;
}

.fa-facebook-f{
  left: 5%;
  justify-content: center;
  text-align: left;
  position: absolute;
  padding: 5px;
  bottom: 2.2em;
  color: rgb(38, 62, 197);
  cursor: pointer;
}



@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



/* media queries  */

/* smallest screens  */
@media only screen and (min-width: 250px) and (max-width: 321px){

  .main-nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  
  .main-nav li a {
    padding: 4px 4px;
    font-size: 0.6em;
  }
  

  .first h1 {
    padding: 20px;
    margin-top: 25%;
    font-size: 0.9em;
  }

  .form-box-container{
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 3% auto;
    background-color: rgb(245, 245, 245);
    padding: 5px; /*top-right-bottom-left*/
    border-radius: 4px;
    opacity: 0.75;
  }
  
  .form-box{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .form-box label{
    font-size: 12px;
  }
  
  .form-box input{
    width: 100%;
    border: 1.5px solid black;
    padding: 5px;
    font-size: 12px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  .form-box select{
    width: 100%;
    border: 1.5px solid black;
    padding: 5px;
    font-size: 12px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  
  option{
    width: 100px;
    font-size: 10px;
  }
  
  /* .submit{
    visibility: hidden;
    float: left;
    margin-top: 20px;
    padding: 10px 30px;
    border-color:rgb(245, 245, 245); 
    outline-color:rgb(245, 245, 245); 
     background-color: red; 
    font-size: 18px;
    cursor: pointer;
    
  }  */
  
  button.submit-again{
    float: right;
    margin-top: 8px;
    padding: 5px 25px;
    /* border:none;  */
    outline:none; 
    background-color: rgb(223, 19, 19);
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
  }
  


  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  height: 105vh;
}



.column {
  -ms-flex: 50%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  /* padding: 0 10px; */
  margin-bottom: 15px;
  
}

.column-text-container {
  margin-top: 1px;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  height: 45vh;
  border-radius: 10px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: relative;
}

#details {
  font-size: 1.3em;
}

#details-more {
  font-size: 0.8em;
}

#status {
  font-size: 0.8em;
  margin-top: 3%;
}

#price {
  margin-top: 8%;
  border-top: 0.5px solid rgb(24, 42, 59);
  font-size: 1em;
}

#description {
  font-size: 0.5em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 1000vw;
  /* max-height: 50vh; */
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 8px;
  padding: 2px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  padding: 0 3px;
}

.under-row-section{
  height: 12vh;
}





/* service page/section  */



#services {
  height: 60vh;
  
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed 
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */

  #p1 {
    font-size: 0.7em;
    /* width: 33%; */
    height: 60vh;
    /* padding: 5px;
    margin: 5%; */
  }
  
  .facebook-container{
    display: flex;
    
    /* padding: 10px; */
    /* margin-right: 20%; */
    justify-content: center;
    align-items: center;
    /* width: 85%; */
  }
  
  .facebook-container iframe{
    margin-top: 4%;
    margin-bottom: 2%;
    height: 250px;
    width: 90%;
  }
  
  
  .fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
  }






/* 
#p2 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  float: left;
  padding: 1em;
}

#p3 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  padding: 1em;
} */


/* flip info design  */

#info {
  background: black;
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.banner {
  font-size: 5px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 2em;
  perspective: 1000px;
  padding: 0.5em;
}

.flip-box-front {
  font-size: 0.4em;
}

.flip-box-back {
  font-size: 0.4em;
}





/* car section  */


.nav-space{
  height: 2vh;
}


.grid-container-cars{
    grid-template-columns: auto;
    padding: 25px;
    grid-gap: 50px;
    width: 100%;
}


.grid-item2{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 30em;
    width: 100%;
  border-radius: 5px;
  border-top-left-radius: 30px; 
}

#grid-details{
  font-size: 1.3em;
}

#grid-details-more{
  font-size: 1em;
}

#grid-status{
font-size: 0.9em;
}

#grid-description{
  font-size: 0.6em;
}

#grid-price{
  margin-top: 5%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 1em;
}



/* contacts page/section  */




#map-section iframe{
  margin-top: 10%;
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.final-info{
  font-size: 1em;
  text-align: center;
  padding: 20px;
}




/* footer section  */


#footer {
  border-top: 2px solid white;
  height: 20vh;
  font-size: 5px;
  z-index: 0;
}

.address h3{
  left: -23%;
  padding: 25px;
  bottom: 4.5em;
}

.address{
  /* font-size: 0.1em; */
  left: 25%;
  top: 5px;
  padding: 3px 5px;
}

.opening-hours{
  /* font-size: 5px; */
  top: 5px;
  left: 1%;
  padding: 3px 5px;
}

.opening-hours h3{
  left: -28%;
  padding: 25px;
  bottom: 4.2em;
}

.footer-menu{
  top: 5px;
  left: 55%;
  padding: 3px 5px;
}

.footer-menu h3{
  left: -10%;
  padding: 30px;
  bottom: 3.8em;
}

.footer-menu a{
  font-size: 0.7em;
  display: block; /* Make the links appear below each other */
  padding: 3.5px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 5px;
  left: 75%;
  padding: 3px 5px;
}

.footer-contact h3{
  left: -35%;
  padding: 33px;
  bottom: 4.5em;
}

.fa-facebook-f{
  left: -32%;
  padding: 30px;
  bottom: 4em;
}

}




/* smaller mobile screens  */
@media only screen and (min-width: 322px) and (max-width: 364px){

  .main-nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  
  .main-nav li a {
    padding: 4px 4px;
    font-size: 1em;
  }

  .first h1 {
    padding: 20px;
    margin-top: 25%;
    font-size: 1.2em;
  }

  .form-box-container{
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 3% auto;
    background-color: rgb(245, 245, 245);
    padding: 5px; /*top-right-bottom-left*/
    border-radius: 4px;
    opacity: 0.75;
  }
  
  .form-box{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .form-box label{
    font-size: 12px;
  }
  
  .form-box input{
    width: 100%;
    border: 1.5px solid black;
    padding: 5px;
    font-size: 12px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  .form-box select{
    width: 100%;
    border: 1.5px solid black;
    padding: 5px;
    font-size: 12px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  
  option{
    width: 100px;
    font-size: 10px;
  }
  
  
  button.submit-again{
    float: right;
    margin-top: 8px;
    padding: 5px 25px;
    /* border:none;  */
    outline:none; 
    background-color: rgb(223, 19, 19);
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
  }



  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  height: 95vh;
}



.column {
  -ms-flex: 50%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
  
}

.column-text-container {
  margin-top: 1px;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  height: 42vh;
  border-radius: 10px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: relative;
}

#details {
  font-size: 1.3em;
}

#details-more {
  font-size: 0.8em;
}

#status {
  font-size: 0.8em;
  margin-top: 3%;
}

#price {
  margin-top: 8%;
  border-top: 0.5px solid rgb(24, 42, 59);
  font-size: 1em;
}

#description {
  font-size: 0.5em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 1000vw;
  /* max-height: 50vh; */
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 8px;
  padding: 2px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  padding: 0 3px;
}

.under-row-section{
  height: 12vh;
}





/* service page/section  */



#services {
  height: 60vh;
  
}

  #p1 {
    font-size: 0.7em;
    /* width: 33%; */
    height: 20vh;
    /* padding: 5px;
    margin: 5%; */
  }
  
  .facebook-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 85%; */
  }
  
  .facebook-container iframe{
    margin-top: 4%;
    margin-bottom: 2%;
    height: 250px;
    width: 90%;
  }
  
  
  .fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
  }

/* 
#p2 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  float: left;
  padding: 1em;
}

#p3 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  padding: 1em;
} */


/* flip info design  */

#info {
  background: black;
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.banner {
  font-size: 5px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 2em;
  perspective: 1000px;
  padding: 0.5em;
}

.flip-box-front {
  font-size: 0.6em;
}

.flip-box-back {
  font-size: 0.6em;
}





/* car section  */


.nav-space{
  height: 2vh;
}


.grid-container-cars{
    grid-template-columns: auto;
    padding: 25px;
    grid-gap: 50px;
    width: 100%;
}


.grid-item2{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 35em;
    width: 100%;
  border-radius: 5px;
  border-top-left-radius: 30px; 
}

#grid-details{
  font-size: 1.5em;
}

#grid-details-more{
  font-size: 1.2em;
}

#grid-status{
font-size: 1.1em;
}

#grid-description{
  font-size: 0.8em;
}

#grid-price{
  margin-top: 5%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 1.2em;
}



/* contacts page/section  */




#map-section iframe{
  margin-top: 10%;
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.final-info{
  font-size: 1em;
  text-align: center;
  padding: 20px;
}




/* footer section  */


#footer {
  border-top: 2px solid white;
  height: 20vh;
  font-size: 0.25em;
  z-index: -1;
}

.address h3{
  left: -20%;
  padding: 25px;
  bottom: 9em;
}

.address{
  left: 25%;
  top: 5px;
  padding: 3px 5px;
}

.opening-hours{
  top: 5px;
  left: 1%;
  padding: 3px 5px;
}

.opening-hours h3{
  left: -25%;
  padding: 25px;
  bottom: 9em;
}

.footer-menu{
  top: 5px;
  left: 55%;
  padding: 3px 5px;
}

.footer-menu h3{
  left: -10%;
  padding: 30px;
  bottom: 8.7em;
}

.footer-menu a{
  font-size: 0.7em;
  display: block; /* Make the links appear below each other */
  padding: 4.5px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 5px;
  left: 75%;
  padding: 3px 5px;
}

.footer-contact h3{
  left: -29%;
  padding: 33px;
  bottom: 9em;
}

.fa-facebook-f{
  left: -27%;
  padding: 30px;
  bottom: 9em;
}

}





/* medium mobiles use  */
@media only screen and (min-width: 365px) and (max-width: 767px){

  .main-nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  
  .main-nav li a {
    padding: 4px 4px;
    font-size: 1em;
  }

  .first h1 {
    padding: 20px;
    margin-top: 25%;
    font-size: 1.2em;
  }

  .form-box-container{
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 3% auto;
    background-color: rgb(245, 245, 245);
    padding: 20px; /*top-right-bottom-left*/
    border-radius: 4px;
    opacity: 0.75;
  }
  
  .form-box{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 18px;
  }
  
  .form-box label{
    font-size: 15px;
  }
  
  .form-box input{
    width: 100%;
    border: 1.5px solid black;
    padding: 8px;
    font-size: 15px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  .form-box select{
    width: 100%;
    border: 1.5px solid black;
    padding: 8px;
    font-size: 15px;
    margin-top: 3px;
    border-radius: 4px;
  }
  
  
  option{
    width: 100px;
    font-size: 12px;
  }
  
  
  button.submit-again{
    float: right;
    margin-top: 12px;
    padding: 8px 30px;
    /* border:none;  */
    outline:none; 
    background-color: rgb(223, 19, 19);
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
  }

  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  height: 95vh;
}


.column {
  -ms-flex: 50%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.column-text-container {
  margin-top: 1px;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  height: 42vh;
  /* margin-bottom: 1%; */
  border-radius: 10px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: relative;
}

#details {
  font-size: 1.3em;
}

#details-more {
  font-size: 0.8em;
}

#status {
  font-size: 0.8em;
  margin-top: 3%;
}

#price {
  margin-top: 8%;
  border-top: 0.5px solid rgb(24, 42, 59);
  font-size: 1em;
}

#description {
  font-size: 0.5em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 1000vw;
  /* max-height: 50vh; */
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 8px;
  padding: 2px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  padding: 0 3px;
}

.under-row-section{
  height: 12vh;
}





/* service page/section  */



#services {
  height: 60vh;
  
}

#p1 {
  font-size: 0.7em;
  /* width: 33%; */
  height: 30vh;
   /* padding: 5px;  */
  margin: 5%; 
}

.facebook-container{
  display: flex;
  margin-left: 5%;
  /* padding: 10px; */
  /* margin-right: 20%; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.facebook-container iframe{
  margin-top: 3%;
  margin-bottom: 2%;
  height: 350px;
  width: 90%;
}


.fb-page, .fb-page iframe[style], .fb-page span {
  width: 100% !important;
}


/* 
#p2 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  float: left;
  padding: 1em;
}

#p3 {
  font-size: 0.8em;
  width: 33%;
  height: 60vh;
  padding: 1em;
}
 */

/* flip info design  */

#info {
  background: black;
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.banner {
  font-size: 5px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 2em;
  perspective: 1000px;
  padding: 0.5em;
}

.flip-box-front {
  font-size: 0.6em;
}

.flip-box-back {
  font-size: 0.6em;
}





/* car section  */


.nav-space{
  height: 2vh;
}


.grid-container-cars{
    grid-template-columns: auto;
    padding: 25px;
    grid-gap: 50px;
    width: 100%;
}


.grid-item2{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 50em;
    width: 100%;
  border-radius: 5px;
  border-top-left-radius: 30px; 
}

#grid-details{
  font-size: 3em;
}

#grid-details-more{
  font-size: 1.8em;
}

#grid-status{
font-size: 1.6em;
}

#grid-description{
  font-size: 1em;
}

#grid-price{
  margin-top: 5%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 1.8em;
}



/* contacts page/section  */




#map-section iframe{
  margin-top: 10%;
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.final-info{
  font-size: 1em;
  text-align: center;
  padding: 20px;
}




/* footer section  */


#footer {
  border-top: 2px solid white;
  height: 20vh;
  font-size: 0.25em;
  z-index: -1;
}

.address h3{
  left: -20%;
  padding: 25px;
  bottom: 9em;
}

.address{
  left: 25%;
  top: 5px;
  padding: 3px 5px;
}

.opening-hours{
  top: 5px;
  left: 1%;
  padding: 3px 5px;
}

.opening-hours h3{
  left: -25%;
  padding: 25px;
  bottom: 9em;
}

.footer-menu{
  top: 5px;
  left: 55%;
  padding: 3px 5px;
}

.footer-menu h3{
  left: -10%;
  padding: 30px;
  bottom: 8.7em;
}

.footer-menu a{
  font-size: 0.7em;
  display: block; /* Make the links appear below each other */
  padding: 4.5px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 5px;
  left: 75%;
  padding: 3px 5px;
}

.footer-contact h3{
  left: -22%;
  padding: 30px;
  bottom: 9em;
}

.fa-facebook-f{
  left: -25%;
  padding: 30px;
  bottom: 8em;
}

}






/* tablet use  */
@media only screen and (min-width: 768px) and (max-width: 1023px){

  
  .main-nav li {
    padding: 5px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  
  .main-nav li a {
    padding: 4px 4px;
    font-size: 1.6em;
  }

  .first h1 {
    margin-top: 25%;
    font-size: 1.8em;
  }

  
.form-box-container{
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 3% auto;
  background-color: rgb(245, 245, 245);
  padding: 20px; /*top-right-bottom-left*/
  border-radius: 4px;
  opacity: 0.75;
}

.form-box{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-box label{
  font-size: 15px;
}

.form-box input{
  width: 100%;
  border: 1.5px solid black;
  padding: 10px;
  font-size: 15px;
  margin-top: 3px;
  border-radius: 4px;
}

.form-box select{
  width: 100%;
  border: 1.5px solid black;
  padding: 10px;
  font-size: 15px;
  margin-top: 3px;
  border-radius: 4px;
}


option{
  
  width: 100px;
  font-size: 12px;
}


button.submit-again{
  float: right;
  margin-top: 15px;
  padding: 10px 30px;
  /* border:none;  */
  outline:none; 
  background-color: rgb(223, 19, 19);
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
}

button.submit-again:hover{
  background-color: rgb(184, 14, 14);
}

/* 
  .search-box {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 50%;
    height: 25%;
    text-align: left;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    padding: 5px 1px 0 auto;    
  }
  
  .search-bar {
    float: left;
    padding: 15px;
  }
  
  .search-bar-box {
    margin: auto;
    padding: 3px 30% 3px 5px;
    font-size: 0.8em;
  }
  
  .search-box button {
    padding: 5px 5px;     
    margin: 10px 5px 0 0;
    font-size: 1em;
  }
  
  .car-make {
    vertical-align: top;
    padding: 15px 10px 10px 20px;
    font-size: 1em;
    float: left;
  }
  
  #cars {
    font-size: 1em;
    padding: 2px;
  }
  
 
  option {
    font-size: 0.8em;
  }
  
  .car-model {
    vertical-align: top;
    display: inline-block;
    padding: 15px 10px 0 0;
  }
  
  .min {
    vertical-align: top;
    display: inline-block;
    padding: 15px;
  }
  
  .max {
    vertical-align: top;
    display: inline-block;
    padding: 15px;
  }
 */

  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 5px;
  width: 100%;
  height: 100vh;
}


.column {
  -ms-flex: 50%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 40px;
  margin-bottom: 15px;
}

.column-text-container {
  margin-top: 1px;
  /* margin-bottom: 10px; */
  padding: 15px;
  vertical-align: middle;
  width: 100%;
  height: 50vh;
  /* margin-bottom: 5%; */
  border-radius: 10px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: relative;
}

#details {
  font-size: 2em;
}

#details-more {
  font-size: 1.2em;
}

#status {
  font-size: 1.2em;
  margin-top: 3%;
}

#price {
  margin-top: 10%;
  border-top: 0.5px solid rgb(24, 42, 59);
  font-size: 1.2em;
}

#description {
  font-size: 0.9em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 2px 12px;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  padding: 0 3px;
}

.under-row-section{
  margin-top: 20%;
  height: 10vh;
}





/* service page/section  */



#services {
  height: 60vh;
}


#p1 {
  font-size: 0.75em;
  /* width: 33%; */
  height: 30vh;
   /* padding: 5px;  */
  margin: 3%; 
}

.facebook-container{
  display: flex;
  margin-left: 5%;
  /* padding: 10px; */
  /* margin-right: 20%; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.facebook-container iframe{
  margin-top: 3%;
  margin-bottom: 2%;
  height: 350px;
  width: 90%;
}


.fb-page, .fb-page iframe[style], .fb-page span {
  width: 100% !important;
}
/* 
#p2 {
  font-size: 1em;
  width: 33%;
  height: 60vh;
  float: left;
  padding: 1em;
  color: white;
}

#p3 {
  font-size: 1em;
  width: 33%;
  height: 60vh;
  padding: 1em;
  color: white;
} */


/* flip info design  */

#info {
  background: black;
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.banner {
  font-size: 5px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 2.2em;
  perspective: 1000px;
  padding: 0.5em;
}

.flip-box-front {
  font-size: 0.8em;
}

.flip-box-back {
  font-size: 0.8em;
}





/* car section  */


.nav-space{
  height: 2vh;
}


.grid-container-cars{
    grid-template-columns: auto;
    padding: 25px;
    grid-gap: 50px;
    width: 100%;
}


.grid-item2{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 60em;
  width: 100%;
  border-radius: 5px;
  border-top-left-radius: 30px; 
}

#grid-details{
  font-size: 3.8em;
}

#grid-details-more{
  font-size: 2.3em;
}

#grid-status{
font-size: 2.2em;
}

#grid-description{
  font-size: 1.2em;
}

#grid-price{
  margin-top: 4%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 2em;
}



/* contacts page/section  */
/* 
#map-section{
  bottom: 20%;
} */


#map-section iframe{
  margin-top: 10%;
  /* bottom: 40%; */
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.final-info{
  text-align: center;
  padding: 20px;
}




/* footer section  */


#footer {
  
  border-top: 2px solid white;
  height: 20vh;
  font-size: 0.6em;
  z-index: 0;
}

.address h3{
  left: 0%;
  padding: 5px;
  bottom: 8em;
}

.address{
  left: 25%;
  top: 5px;
  padding: 3px 5px;
}

.opening-hours{
  top: 5px;
  left: 1%;
  padding: 3px 5px;
}

.opening-hours h3{
  left: 0%;
  padding: 5px;
  bottom: 8em;
}

.footer-menu{
  top: 20px;
  left: 55%;
  padding: 3px 5px;
}

.footer-menu h3{
  left: 3%;
  padding: 5px;
  bottom: 7.5em;
}

.footer-menu a{
  font-size: 0.8em;
  display: block; /* Make the links appear below each other */
  padding: 4.5px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 5px;
  left: 75%;
  padding: 3px 5px;
}

.footer-contact h3{
  left: -1%;
  padding: 5px;
  bottom: 8em;
}

.fa-facebook-f{
  left: -1%;
  padding: 5px;
  bottom: 8em;
}








}





/* tablet use  */
@media only screen and (min-width: 1023px) and (max-width: 2400px){

  
  .main-nav li {
    padding: 5px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  
  .main-nav li a {
    padding: 4px 4px;
    font-size: 2.4em;
    /* color: red; */
  }
  

  .first h1 {
    margin-top: 25%;
    font-size: 2em;
  }


  .search-box {
    margin-top: 40%;
    margin-bottom: 30%;
    width: 59%;
    height: 20%;
    text-align: left;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    padding: 10px 5px 0 auto;    
  }
  
  .search-bar {
    float: left;
    padding: 15px;
  }
  
  .search-bar-box {
    margin: auto;
    padding: 5px 10% 5px 15px;
    font-size: 1em;
  }
  
  .search-box button {
    padding: 10px 10px;          /*top right bottom left*/
    margin: 10px;
    font-size: 1em;
  }
  
  .car-make {
    vertical-align: top;
    padding: 15px 0 0 25px;
    font-size: 1em;
    float: left;
  }
  
  #cars {
    font-size: 1em;
    padding: 4px;
  }
  
  /* need to sort options in ascending alphabetical order */
  option {
    font-size: 0.8em;
  }
  
  .car-model {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
  }
  
  .min {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
  }
  
  .max {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
  }


  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 5px;
  width: 100%;
  height: 100vh;
}


.column {
  -ms-flex: 50%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 40px;
  margin-bottom: 15px;
}

.column-text-container {
  margin-top: 1px;
  padding: 15px;
  vertical-align: middle;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  /* border: 1px solid rgb(24, 42, 59); */
  position: relative;
  
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  position: relative;
}

#details {
  font-size: 2.8em;
}

#details-more {
  font-size: 1.8em;
}

#status {
  font-size: 1.8em;
  margin-top: 3%;
}

#price {
  margin-top: 8%;
  border-top: 0.5px solid rgb(24, 42, 59);
  font-size: 1.8em;
}

#description {
  font-size: 1em;
}


/* slideshow  */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 2px 12px;
  bottom: 5px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 4px;
  padding: 0 3px;
}

.under-row-section{
  margin-top: 40%;
  height: 12vh;
}





/* service page/section  */


#services {
  height: 60vh;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed 
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */

  #p1 {
    font-size: 1.1em;
    /* width: 33%; */
    height: 40vh;
     /* padding: 5px;  */
    margin: 2%; 
  }
  
  .facebook-container{
    display: flex;
    margin-left: 30%;
    /* padding: 10px; */
    /* margin-right: 20%; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
  
  .facebook-container iframe{
    margin-top: 3%;
    margin-bottom: 2%;
    height: 300px;
    width: 100%;
  }
  
  
  .fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
  }
/* 
#p2 {
  font-size: 1.5em;
  width: 33%;
  height: 60vh;
  float: left;
  padding: 1em;
  color: white;
}

#p3 {
  font-size: 1.5em;
  width: 33%;
  height: 60vh;
  padding: 1em;
  color: white;
} */


/* flip info design  */

#info {
  background: black;
  padding: 10px;
  border: 1px solid black;
  color: white;
}

.banner {
  font-size: 5px;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 4em;
  perspective: 1000px;
  padding: 1em;
}

.flip-box-front {
  font-size: 1em;
}

.flip-box-back {
  font-size: 1em;
}





/* car section  */


.nav-space{
  height: 2vh;
}


.grid-container-cars{
    grid-template-columns: auto;
    padding: 25px;
    grid-gap: 50px;
    width: 100%;
}


.grid-item2{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 80em;
    width: 100%;
  border-radius: 5px;
  border-top-left-radius: 30px; 
}

#grid-details{
  font-size: 4em;
}

#grid-details-more{
  font-size: 2.8em;
}

#grid-status{
font-size: 2.8em;
}

#grid-description{
  font-size: 2em;
}

#grid-price{
  margin-top: 6%;
  border-top: 2px solid rgb(24, 42, 59);
  font-size: 3em;
}



/* contacts page/section  */
/* 
#map-section{
  bottom: 20%;
} */


#map-section iframe{
  margin-top: 10%;
  /* bottom: 40%; */
  padding: 1px;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.final-info{
  text-align: center;
  padding: 20px;
}




/* footer section  */


#footer {
  
  border-top: 2px solid white;
  height: 20vh;
  font-size: 0.8em;
  z-index: 0;
}

.address h3{
  left: 0%;
  padding: 5px;
  bottom: 8em;
}

.address{
  left: 25%;
  top: 5px;
  padding: 3px 5px;
}

.opening-hours{
  top: 5px;
  left: 1%;
  padding: 3px 5px;
}

.opening-hours h3{
  left: 0%;
  padding: 5px;
  bottom: 8em;
}

.footer-menu{
  top: 35px;
  left: 55%;
  padding: 3px 5px;
}

.footer-menu h3{
  left: 3%;
  padding: 5px;
  bottom: 7.5em;
}

.footer-menu a{
  font-size: 0.8em;
  display: block; /* Make the links appear below each other */
  padding: 4.5px; /* Add some padding */
}

.footer-contact{
  display: flex;
  top: 5px;
  left: 75%;
  padding: 3px 5px;
}

.footer-contact h3{
  left: -1%;
  padding: 5px;
  bottom: 8em;
}

.fa-facebook-f{
  left: -1%;
  padding: 5px;
  bottom: 8em;
}








}



